<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.miscphone">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiscLearnPhone">
        <activity
            android:name=".constranitlayout.FlowActivity"
            android:exported="true" />
        <activity android:name=".misc.xmlClick.XmlClickActivity" />
        <activity android:name=".misc.MiscActivity" />
        <activity
            android:name=".template.navdraweractivity.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/Theme.MiscLearnPhone.NoActionBar" />
        <activity
            android:name=".template.basicactivity.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/Theme.MiscLearnPhone.NoActionBar" />
        <activity android:name=".permissions.RequestActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>